### Connect to MySQL via JDBC connection

#### This demo shows how to import an external JAR to Toree-based Scala kernel notebook by simply using %AddJar <url>

First of all, you need to have the URL for the external JAR file to be imported, for mysql, the below file is from Maven and is working

In [2]:
%AddJar http://central.maven.org/maven2/mysql/mysql-connector-java/5.1.15/mysql-connector-java-5.1.15.jar

Starting download from http://central.maven.org/maven2/mysql/mysql-connector-java/5.1.15/mysql-connector-java-5.1.15.jar
Finished download of mysql-connector-java-5.1.15.jar

Waiting for a Spark session to start...

Now to create a sql context

In [3]:
val sqlcontext = new org.apache.spark.sql.SQLContext(sc)

Waiting for a Spark session to start...

sqlcontext = org.apache.spark.sql.SQLContext@2816fe46

warning: there was one deprecation warning; re-run with -deprecation for details

org.apache.spark.sql.SQLContext@2816fe46

Define the query

In [4]:
val q="""select cc_num, first, last from customer"""

q = select cc_num, first, last from customer

select cc_num, first, last from customer

Create a DataFrame to hold the query result from mysql

In [5]:
val df = spark.read.format("jdbc").option("url", "jdbc:mysql://hadoop02:3306/ccfd?useSSL=false").option("dbtable",  s"( $q ) t").option("user", "rxie").option("password", "Password1").load()

df = [cc_num: string, first: string ... 1 more field]

[cc_num: string, first: string ... 1 more field]

Inspect the schema

In [6]:
df.printSchema

root
 |-- cc_num: string (nullable = true)
 |-- first: string (nullable = true)
 |-- last: string (nullable = true)

Show the data saved in DataFrame

In [7]:
df.show()

+----------------+--------+---------+
|          cc_num|   first|     last|
+----------------+--------+---------+
|3526015186182660|    Carl|    Gomez|
|4170242670039985| Rebecca| Trujillo|
|   4006862159277|  Cheryl|     Rice|
|3593533875650654|   Cindy|      Ray|
|5421885738881170|  Jeremy|   Torres|
|4048725581466255| Theresa|     Cole|
|   4092259246729| Krystal|   Harper|
|5417459284978545|   Angel|    Smith|
|6011779269963768|Jennifer|   Harvey|
|  30405027360515|  Monica|    Brown|
|6546851067101927| Brianna|   Mercer|
|   4483018920250|   Helen|   Strong|
| 379684560931689|   Cindy|   Martin|
|4361646620879135|Kimberly|   Hudson|
|  30021746099829|   James|Rodriguez|
|5590294502817012|Kathleen|Maldonado|
|    676165681542|    John|   Garcia|
|6011537727192499|   James|   Walker|
|  30157941709315| Maurice|    Simon|
| 180094108369013|    John|  Holland|
+----------------+--------+---------+
only showing top 20 rows